*{
    font-family: "roboto";
}
.header{
    background-color: #1F2937;
    color: white;
    

}
.upper-header{
    display: flex;
    justify-content: space-between;
}
body{
    margin: 0 auto;
    width: 960px;
}
li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}
h3{
    font-size: 48px;
    color: #F9FAF8;

}
.body1{
    background-color: white;
    text-align: center;
}
.photos{
    display: flex;
    justify-content: space-around;
}
.body2{
    background-color: #E5E7EB;
}
.body3{
    background-color: white;
}
.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
}