*{
    font-family: 'Roboto';
}
#wrapper {
    margin-left: auto;
    margin-right: auto;   
    width :960px;
    display: flex;
    flex-direction: column;

}
.header{
    background-color: #1F2937;
    color: white;
    height: 400px;
    width: 100%;
}
.header::before{
    content:"";
    background-color:#1F2937;
    position: absolute;
    height: 400px;
    width: 4000px;
    left: -2000px;
    z-index: -1;
}
.upper-header{
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    margin-left: 90px;
}
.logo{
    margin-top: 10px;
}
.links{
    margin-top: 10px;
    color: white;
}
.lower-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 150px;
    margin-left: 90px;
}
.lower-header p{
    margin-top: -10px;
    color: #E5E7EB;
}
.lower-header h3{
    font-size: 48px;
    margin-top: -15px;
}
.lower-header button{
    width: 100px;
    height: 25px;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}
.head-pic{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: 90px;
    margin-top: 50px;

}
.info{
    font-size: 36px;
    
}
body{
    margin: 0 auto;
}
li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    color: #F9FAF8;
}
h3{
    font-size: 48px;
    color: #F9FAF8;

}
.body1{
    background-color: white;
    text-align: center;
    height: 400px;
    margin-right: 90px;
    margin-top: 100px;
    margin-bottom: auto;
}
.photos{
    display: flex;
    justify-content: space-around;
    margin-right: 90 px;
    margin-left: 90px;
}
.photos img{
    border-radius: 10px;
    border: solid lightseagreen 2px;
}
.body2{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.body2::before{
    content:"";
    background-color: #E5E7EB;
    position: absolute;
    height: 400px;
    width: 4000px;
    left: -2000px;
    z-index: -1;
}
.quote{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 90px;
    margin-left: 90px;
}
.body2 p{
    font-size: 32px;
    color:#1F2937;
    text-align: center;
}

.body3 {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
    color: #F9FAF8;
}
.signup-text{
    text-align: left;
    width: 150px;
}
.word-sign button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}
.word-sign{
    width: 200px;
}
.button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}
.h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin-bottom: -10px;
    font-size: 30px;
}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
}
